@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-regular {
    font-family: "Quicksand", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .quicksand-bold {
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .quicksand-medium-italic {
    font-family: "Quicksand", serif;
    font-weight: 500;
    font-style: italic;
  }


  .raleway-regular {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  /* Global CSS */
  :root{
    --skyBlue: #01ACFD;
    --orange: #FEA301;
    --black: #111111;
    --white: #ffffff;
    --light-blue: #05D4DF;
    --purple: #5D58EF;
    --yellow: #FFF4DC;
    --green: #95B226;
    --gray: #808080;

    --quickSand: "Quicksand", serif;
    --raleway: "Raleway", serif;

  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    margin: 0;
    font-family: var(--quickSand);
  }
  
  a{
    text-decoration: none;
    color: var(--white);
  }

  .container {
    width: 1160px;
  }

  .btn{
    padding: 10px 60px;
    font-family: var(--quickSand);
    font-size: 20px;
    font-weight: 500;
    border: 0;
    border-radius: 12px;
  }

  .section-title{
    font-size: 46px;
    line-height: 57px;
    margin-bottom: 80px;
  }




  /* Header CSS */
    header, main, footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

  /* Navbar CSS */
  .navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  .logo{
    display: flex;
    align-items: center;
  }

  .logo img{
    margin-right: 11px;
  }

  .logo-font{
    font-size: 32px;
    color: var(--black);
    font-family: var(--quickSand);
    font-weight: bold;
  }

  .nav-item{
    width: 390px;
  }
  
  .nav-item ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .nav-item ul li{
    font-weight: bold;
    font-size: 20px;
    margin-right: 32px;
  }
  
  .nav-item ul li:last-child{
    margin-right: 0;
  }

  .home{
     color: var(--orange);
  }

  .about{
    color: var(--skyBlue);
  }

  .facilities{
    color: var(--light-blue);
  }

  .admission{
    color: var(--purple);
  }

  .navBar-btn{
    color: var(--white);
    background-color: var(--orange);
  }

  /* Banner CSS */
  .banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .banner-info{
    width: 640px;
    margin-right: 50px;
  }

  .banner-info h1{
    font-size: 62px;
    margin-bottom: 24px;
    line-height: 61px;
  }

  .banner-info h1 .title-orange{
    color: var(--orange);
  }

  .banner-info h1 .title-blue{
    color: var(--skyBlue);
  }
  
  .banner-info p {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .banner-info button{
    background-color: var(--black);
    color: var(--white);
  }

  .banner-info img{
    max-height: 575px;
  }

  main{
    
  }


  /* Curriculum CSS */
  .curriculum{
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("../assets/bg.png");
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .curriculum-content{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .curriculum-cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 80px;
  }

  .curriculum-card-item{
    max-width: 367px;
    height: 475px;
    background: var(--white);
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05)
  }

  .blue-card{
    border: solid 1px rgba(222, 245, 255, 0.94);
    background: linear-gradient(to top, var(--white) 75%, #DEF5FF 105%);
  }

  .yellow-card{
    border: solid 1px rgba(255, 244, 220, 0.94);
    background: linear-gradient(to top, var(--white) 75%, #FFF4DC 105%);
    
  }

  .purple-card{
    border: solid 1px rgba(242, 232, 255, 0.94);
    background: linear-gradient(to top, var(--white) 75%, #F2E8FF 105%);

  }

  .card-content{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }


  .curriculum-card-item img{
    width: 136px;
    height: 136px;
    margin-bottom: 32px;
  }

  .curriculum-card-item .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 32px;
  }

  .curriculum-card-item .card-description{
    font-family: var(--raleway);
    font-size: 15px;
    color: var(--gray);
    margin-bottom: 32px;
  }

  .curriculum-card-item .card-content .readmore-btn{
    font-family: var(--quickSand);
    font-size: 15px;
    font-weight: bold;
    background-color: #ffffff;
    border: 0;
  }

  .readmore-blue{
    color: var(--skyBlue);
    
  }
  .readmore-yellow{
    color: var(--orange);
  }

  .readmore-purple{
    color: var(--purple);
  }

  .curriculum .swipe-btn{
    }

  .curriculum .swipe-btn button{
    color: var(--white);
    border: 0;
    border-radius: 70%;
    padding: 18px;
    line-height: 0;
    font-size: 20px;
    background-color: var(--orange);
    margin-right: 5px;
  }

  .curriculum .swipe-btn .prev-btn img{
    width: 20px;
  }
  .curriculum .swipe-btn .next-btn img{
    width: 20px;

  }


 /* Stories CSS */
  .our-stories{
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("../assets/bg.png");
    background-position: top;
    background-repeat: repeat;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
  }


  .our-stories::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 30%, rgba(254, 161, 1, 0.4));
  }

  .our-stories-content{
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }

  .story-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 80px;
  }
  
  .card-big{
    height: 630px;
  }

  .card-small{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .story-card-item{
    background-color: var(--white);
    border-radius: 16px;
  }

  .story-card-item img{
    border-radius: 16px 16px 0 0;
  }

  .card-small img{
    height: 177px;
    width: 291px;
  }

  .story-card-content{
    padding: 40px;
    border-radius: 0 0 16px 16px;
    position: relative;
  }

  .card-small .story-card-content{
    padding: 38px 38px 28px 38px;
  }

  .story-card-content .date{
    font-size: 15px;
    padding: 10px;
    width: 135px;
    border-radius: 20px;
    text-align: center;
    color: var(--white);
    position: absolute;
    top: -25px;
  }

  .date-category-blue{
    background-color: var(--light-blue);
    
  }
  .date-category-green{
    background-color: var(--green);

  }
  .date-category-pruple{
    background-color: var(--purple);

  }

  .card-big .story-title{
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 52px;
  }

  .card-small .story-title{
    font-size: 15px;
    line-height: 28px;
  }

  .story-card-content .story-excerpt{
    font-size: 15px;
    font-weight: 500;
    color: var(--gray);
    line-height: 28px;
    font-family: var(--raleway);
  }

  .story-btn{
    background-color: var(--black);
  }


  /* Footer CSS */
  footer{
    background-color: var(--skyBlue);
    height: 520px;
    display: flex;
    align-items: center;
  }

  .footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  .footer-branding{

  }

  .footer-logo{

  }

  .footer-logo{
    font-size: 42px;
    font-weight: 700;
    color: var(--white);
    line-height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  .footer-logo img{
    width: 80px;
    margin-right: 10px;
  }

  .brand-description{
    font-size: 20px;
    color: var(--white);
    line-height: 30px;
    margin-right: 180px;
  }

  .footer-about{
     
  }

  .about-school{
    font-size: 24px;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 32px;
  }

  .footer-about ul{
    padding: 0;
  
  }

  .footer-about ul li{
    list-style: none;
    color: var(--white);
    margin-bottom: 20px;
    font-weight: 500;
  }

  .footer-social-media{

  }

  .footer-social-media .keep-in-touch{
    font-size: 24px;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 32px;
  }

  .footer-social-media img{
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }

  @media screen and (max-width: 576px) {
    
    * {
      box-sizing: border-box;
    }
    
    header, main, footer{
      
    }
    .container{
      max-width: 100%;
    }

    .btn{
      padding: 6px 24px;
      font-size: 16px;
      line-height: 30px;
      font-weight: 700;
    }

    .navBar{
      display: none;
    }

    .banner-img{
      max-width: 100%;
      height: auto;
      padding: 0 25px 20px;
    }

    .banner{
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
      margin-bottom: 40px;
    }
  
    .banner-info{
      max-width: 100%;
      margin-right: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 0 25px;

    }
  
    .banner-info h1{
      font-size: 38px;
      margin: 0 0px 20px;
      line-height: 40px;
    }
  
    
    .banner-info p {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 18px;
      padding: 0 20px;
      line-height: 20px;
    }
  
   
  /* Curriculum CSS */
  .section-title{
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px ;
  }
  .curriculum{
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("../assets/bg.png");
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }

  .curriculum-content{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .curriculum-cards{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    margin-bottom: 0px;
    padding: 0 20px;
  }

  .curriculum-card-item{
    max-width: 100%;
    height: auto;
    padding: 36px;
  }

  .blue-card{
    border: solid 1px rgba(222, 245, 255, 0.94);
    background: linear-gradient(to top, var(--white) 75%, #DEF5FF 105%);
  }

  .yellow-card{
    border: solid 1px rgba(255, 244, 220, 0.94);
    background: linear-gradient(to top, var(--white) 75%, #FFF4DC 105%);
    
  }

  .purple-card{
    border: solid 1px rgba(242, 232, 255, 0.94);
    background: linear-gradient(to top, var(--white) 75%, #F2E8FF 105%);
  }

  .curriculum-card-item img{
    max-width: 75px;
    height: auto;
    margin-bottom: 32px;
  }

  .curriculum-card-item .card-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .curriculum-card-item .card-description{
    font-weight: 500;
    font-size: 10px;
    margin-bottom: 22px;
    padding: 0 40px;
    line-height: 20px;
  }

  .curriculum-card-item .card-content .readmore-btn{
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
  }

  .readmore-blue{
    color: var(--skyBlue);
    
  }
  .readmore-yellow{
    color: var(--orange);
  }

  .readmore-purple{
    color: var(--purple);
  }

  .curriculum .swipe-btn{
    display: none;
    }

  .curriculum .swipe-btn button{
    color: var(--white);
    border: 0;
    border-radius: 70%;
    padding: 18px;
    line-height: 0;
    font-size: 20px;
    background-color: var(--orange);
    margin-right: 5px;
  }

  
 /* Stories CSS */
 .our-stories{
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url("../assets/bg.png");
  background-position: top;
  background-repeat: repeat;
  padding-top: 0px;
  padding-bottom: 40px;
  position: relative;
}

.our-stories::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 30%, rgba(254, 161, 1, 0.4));
}

.our-stories-content{
  padding: 0 20px;
}

.story-cards{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.card-big{
  display: none;
}

.card-small{
  gap: 10px;
}

.card-small img{
  height: auto;
  max-width: 100%;
}


.card-small .story-card-content{
  padding: 28px 20px 20px 20px;
}

.story-card-content .date{
  font-size: 10px;
  padding: 10px;
  max-width: 105px;
  top: -25px;
}

.card-small .story-title{
  font-size: 10px;
  line-height: 17px;
}

.story-card-content .story-excerpt{
  font-size: 15px;
  font-weight: 500;
  color: var(--gray);
  line-height: 28px;
  font-family: var(--raleway);
}

.story-btn{
  padding: 3px 40px;
}


  /* Footer CSS */
  footer{
    height: auto;
    padding: 60px 20px ;
  }

  .footer{
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-branding{
    margin-bottom: 32px;
  }

  .footer-logo{
    font-size: 35px;
    margin-bottom: 22px;
    line-height: 32px;
  }

  .footer-logo img{
    max-width: 100%;
    height: auto;
  }

  .brand-description{
    font-size: 16px;
    line-height: 22px;
    margin-right: 0px;
  }

  .footer-about{
     margin-bottom: 20px;
  }

  .about-school{
    font-size: 20px;
    margin-bottom: 27px;
  }

  .footer-about ul li{
    margin-bottom: 17px;
  }

  .footer-social-media .keep-in-touch{
    font-size: 20px;
    margin-bottom: 30px;
  }

  .footer-social-media img{
    margin-right: 10px;
    max-width: 100%;
    height: auto;
  }
}